body {
  display: block;
  margin: 0 auto;
  max-width: 900px;
  /*margin-left: 10%;
  margin-right: 10%;*/
  font-family: "Montserrat", sans-serif;
}
h1 {
  text-align: center;
  margin: 1%;
  font-weight: 800;
}
h2 {
  margin-top: 10px;
}

.fa-map-marker-alt {
  color: black;
}
.search-button,
.my-location-button {
  background: #f5f7fa;
  border: 1px solid #56769e;
  border-radius: 5px;
  transition: all 150ms ease-in-out;
  color: #56769e;
}
.search-button:hover {
  border: 1px solid #a7c5eb;
}

.main-temp {
  font-size: 650%;
}
.c-link,
.f-link,
.c-f-detail {
  position: relative;
  top: -60px;
  font-size: 20px;
  text-decoration: none;
}
.c-link:hover,
.f-link:hover {
} /* to update maybe*/
.c-link,
.f-link {
  color: grey;
}
.active {
  color: black;
}
.today-weather-image {
  font-size: 900%;
  color: #a7c5eb;
  margin-top: 20px;
}
.today-description {
  font-size: 120%;
  margin-top: 5px;
}
.weather-details {
  line-height: 30px;
  margin-top: 20px;
  text-align: center;
  border: 1px solid #56769e;
  padding: 15px;
}

.daily-hourly-container {
  padding: 0;
  margin: 30px 0 5px 5px;
}
.daily-button,
.hourly-button {
  background: #f5f7fa;
  border: 1px solid #56769e;
  border-radius: 5px;
  transition: all 150ms ease-in-out;
  color: #56769e;
  float: left;
  margin-bottom: 10px;
}
.daily-button:hover,
.hourly-button:hover {
  border: 1px solid #a7c5eb;
}

.daily {
  border: 1px solid #56769e;
  border-radius: 5px;
  margin: 5px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
}
.daily-temp {
  font-size: 170%;
}
.daily-date {
  font-size: 120%;
}
.daily-image {
  font-size: 200%;
  color: #a7c5eb;
}
.fa-arrow-right {
  text-align: center;
  font-size: 200%;
  margin: 55px 0 0 10px;
}

.search-container {
  border: 1px solid black;
  padding: 1%;
  margin-bottom: 1%;
  border-radius: 10px;
  background: #a7c5eb;
}
.main-body-container {
  border: 1px solid black;
  padding: 2%;
  border-radius: 10px;
  background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
}

.daily {
  text-align: center;
}
.code-by {
  margin-top: 5px;
}
