body {
  display: block;
  margin: 0 auto;
  max-width: 800px;
  font-family: "Montserrat", sans-serif;
}
h1 {
  text-align: center;
  margin: 1%;
  font-weight: 800;
}
h2 {
  margin: 10px 0 0 20px;
  font-size: 250%;
}
h5 {
  font-size: 14px;
  margin: 0;
  text-align: right;
}
hr {
  display: block;
  margin: 0 auto;
  margin-right: 0;
  margin-top: 5px;
  margin-bottom: 5px;
  width: 70%;
  color: #e7f0fd;
}
p {
  margin-bottom: 10px;
}

.search-container {
  padding: 1%;
  margin-bottom: 1%;
  border-radius: 10px;
  background-image: linear-gradient(to top, #accbee 0%, #a2c4e8 100%);
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
}

.fa-map-marker-alt {
  color: black;
  margin: 0 10px;
  font-size: 18px;
}
#city-input {
  border-radius: 7px;
  border: 1px solid #e7f0fd;
}
.search-button,
.my-location-button {
  font-size: 15px;
  padding: 2px 12px;
  background-color: #e7f0fd;
  border: 1px solid #a2c4e8;
  border-radius: 20px;
  transition: all 150ms ease-in-out;
  color: #56769e;
  color: black;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.15);
  margin-left: 3px;
}
.my-location-button {
  padding: 2px 6px;
}

.search-button:hover,
.my-location-button:hover {
  border: 1px solid #a7c5eb;
  box-shadow: none;
}

.main-body-container {
  padding: 2%;
  border-radius: 10px;
  background-image: linear-gradient(to top, #e7f0fd 0%, #accbee 100%);
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
}
.top-container {
  margin-bottom: 5px;
}
.today-description {
  font-size: 20px;
  margin-top: 5px;
  margin-left: 23px;
}
.main-temp {
  font-size: 105px;
  margin: 0 0 0 25px;
}
.c-link,
.f-link,
.c-f-detail {
  position: relative;
  top: -60px;
  font-size: 20px;
  text-decoration: none;
}

.c-link,
.f-link {
  color: grey;
}
.active {
  color: black;
}
.active:hover {
  color: black;
}
.today-weather-image {
  display: block;
  margin: 0 auto;
  width: 130px;
  margin-top: 20px;
}
.weather-details {
  line-height: 22px;
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: 13px;
}
.feels-like,
#wind,
#humidity {
  font-size: 14px;
}
.local-time-line {
  text-align: right;
  font-size: 18px;
  margin-bottom: 10px;
}
.local-time {
  padding: 1px 7px;
  background-color: #e7f0fda6;
  border-radius: 5px;
}
.hourly-each {
  line-height: 35px;
  margin-left: 90px;
}

.hourly-image {
  width: 40px;
  margin: 0 10px;
}

.daily {
  text-align: center;
  border-radius: 5px;
  margin: 7px;
  padding: 5px 15px 0 15px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.15);
  background-image: linear-gradient(
    to top,
    rgba(162, 196, 232, 0.7) 0%,
    rgba(255, 255, 255, 0.3) 100%
  );
}
.forecast-max {
  font-size: 22px;
}
.forecast-min {
  font-size: 19px;
}
.daily-temp {
  margin-bottom: 0;
}
.daily-weekday {
  font-size: 19px;
}
.daily-image {
  font-size: 150%;
  color: #a7c5eb;
  width: 70px;
}
.daily-date {
  font-size: 14px;
}

.code-by {
  margin-top: 10px;
  font-size: 12px;
  margin-left: 5px;
}
.github-icon {
  width: 18px;
}
